#homework{
    width: 1000px;
    height: 546px;
    position: absolute;
    background: #f9fafc;

}

/* 表格说明文字 */
#blue{
     width: 4px;
     height: 20px;
     top: 12px;
     left: 40px;
     position: absolute;
     float: left;
     margin: 0 auto;
     background: url("../Test/blue.png") no-repeat;

 }
#chartName{
    width: 100px;
    height: 30px;
    top: 12px;
    left: 40px;
    position: absolute;
    margin: 0 auto;
    float: left;
    font-family: "幼圆";
    font-size: large;
    font-weight: 900;
    //border-left: 5px solid #60a1fb;
    padding-left: 8px;
}

/* 表格内容 */
#chartBox{
    width: 924px;
    height: 456px;
    position: relative;
    float: left;
    top: 45px;
    left: 38px;
    border: 1px solid #eff3f6;
    background-color: #fff;
}

/* 表格内文字 */


/* 表格内左侧内容 */
#leftItems{
    width: 200px;
    height: 30px;
    top: 20px;
    left: 40px;
    float: left;
    position: relative;
    vertical-align: middle;
}
#greenButton{
    width: 40px;
    height: 17px;
    margin: 9px 5px;
    vertical-align: middle;
    background: url("../Test/greenButton.jpg") ;
}
#buttonText{
    width: 100px;
    height: 30px;
    font-family: '幼圆';
    font-weight: 500;
    vertical-align: middle;
}


/* 表格内部右侧内容 */
#rightItems{
    width: 435px;
    height: 30px;
    top: 20px;
    float: right;
    position: relative;
    vertical-align: middle;
}
#yesterday{
    width: 60px;
    height: 30px;
    margin: 0 15px;
    position: relative;
    text-align: center;
}
#week{
    width: 60px;
    height: 30px;
    margin: 0 15px;
    //position: relative;
    text-align: center;
}
#month{
    width: 60px;
    height: 30px;
    margin: 0 15px;
    //position: relative;
    text-align: center;
}
#anyDays{
    width: 190px;
    height: 30px;
    margin-right: 30px;
    float: right;
    vertical-align: middle;
    border: 1px solid #C2CAD7;
    border-radius: 5px;


    //background: url("../Test/anyDays1.jpg") no-repeat;
    //position: relative;
}
#dateSelect{
    width: 160px;
    height: 30px;
    font-family: "幼圆";
    font-size: 14px;
    margin: 5px 10px;
    vertical-align: middle;
}
#anyDays1{
    width: ;
    height: ;
    float: right;
}

/* 图表 */
#myChart{
    width: 900px;
    height: 350px;
    top: 50px;
    left: 12px;
    //margin: 0 10px;
    //border: 1px solid #eff3f6;

}



